*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*hace que el ancho y el alto de un elemento incluya tambien sus  bordes y el paddin*/
}

body{
    background-color: #2f2f2f;
    height: 100vh;
    display: block;
    text-align: center;
    padding-top: 30px;
}

.contenedor{
    align-items: center;
    width: 100%;
    height: auto;
}

.tarjeta{
    background-color: #1e1e1e;
    width: 350px; 
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #00bfff;
    box-shadow: 0 4px 8px rgba(0, 191, 255, 0.3); 
}

.tarjeta h1,h2{
    color: #00bfff;
    margin: 5px 0;
    text-shadow: 0 4px 8px rgba(0, 191, 255, 0.3);
}

p{
    color: white;
    margin-bottom: 20px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    transition:  background-color 0.3s;
}

p:hover{
    color: #00bfff;
    text-shadow: 0 4px 8px rgba(0, 191, 255, 0.3);
}

.perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #00bfff;
    box-shadow: 0px 4px 20px rgba(0, 191, 255, 0.3);
    transition: transform 2s;
}

.perfil:hover {
    transform: rotateY(720deg);
}

.enlaces a{
    position: relative;
    display: block;
    margin:10px 0 ;
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(255, 2555, 255, 0.3);
    color: white;
    text-decoration: none;
    border: 2px solid white;
    transition:  background-color 0.3s, transform 0.3s;
}

.enlaces a:hover{
    background-color: #0088cc;
    border: 2px solid aqua;
    box-shadow: 0 4px 8px rgba(0, 191, 255, 0.3);
    transform: scale(1.05);
}

.redes a, .lenguajes a{
    color: rgba(255, 2555, 255, 0.3);;
    display: inline-block;
    margin: 10px 10px;
    font-size: 34px;
    text-decoration: none;
    transition: transform 0.3s;
    position: relative;
}

.redes a:hover, .lenguajes a:hover{
    color: #00bfff;
    transform: scale(1.2);
}

.mensaje-secreto{
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0088cc;
    color: white;
    border-radius: 8px;
    border: solid 1px white;
    font-size: 10px;
    padding: 5px;
    z-index: 10;
    white-space: nowrap;
    
}

.tarjeta a:hover .mensaje-secreto{
    visibility: visible;
}